body {
    background: #ececec;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#header {
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin: 0px 5%;
}

#header h1 {
    width: 25%;
    font-weight: 500;
    padding-left: 10px;
}

#header ul {
    list-style-type: none;
}

#header ul li {
    display: inline-block;
    margin-left: 25px;
}

#boxgrid {
    margin: 0px 5%;
    display: grid;
    min-height: 900px;
    height: 70vh;
    grid-template-rows: 300px 300px 300px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
        "pfp bx1 bx1"
        "abt bx2 bx3"
        "cnt bx4 bx5";
}

#about {
    grid-area: abt;

}

#profileimage {
    grid-area: pfp;
    background-image: url(./Images/profile_image.png);
    background-size: contain;
}

#box1 {
    grid-area: bx1;
    background-image: url(./Images/02-portfolio-4.jpg)
}

#box2 {
    grid-area: bx2;
    background-image: url(./Images/02-portfolio-1.jpg);
}

#box3 {
    grid-area: bx3;
    background-image: url(./Images/02-portfolio-2.jpg);
}

#box4 {
    grid-area: bx4;
    background-image: url(./Images/02-portfolio-3.jpg);
}

#box5 {
    grid-area: bx5;
    background-image: url(./Images/02-run-buddy.jpg);
}

#contact {
    grid-area: cnt;
    background-size: contain;
}

.boxgridarea {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 5px;
    cursor: pointer;
    align-content: end;
}

h2 {
    font-size: 30px;
    margin: 110px 0px;
    color: black;
}

@media only screen and (max-width: 600px) {
    #header {
        position: static;
        margin: 20px;
    }

    #boxgrid {
        grid-template-rows: 300px 300px 300px 300px 300px 300px 300px;
        grid-template-columns: 80vw;
        grid-template-areas:
            "pfp"
            "abt"
            "cnt"
            "bx1"
            "bx2"
            "bx3"
            "bx4"
            "bx5"
        ;
    }
}